@import "tailwindcss";

@source "../../views";
@source "../../helpers";
@source "../../javascript";
@source "../../../app/views";

@theme {
  --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "IBM Plex Mono", ui-monospace, monospace;
}

.cache-buster-2 {
  content: "2";
}
